.alert-backdrop {
    position: fixed;
    background: rgba(0,0,0,0.75);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
}

.alert-box {
    position: fixed;
    background: white;
    top: 30vh;
    left: 20vh;
    width: 60vh;
    z-index: 100;
    padding: 16px;
    box-shadow: 0 5px 10px gainsboro;
}

.button-container {
    text-align: right;
}